In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1588,tt0307453,75000000,367275019,Shark Tale,Will Smith|Robert De Niro|RenÃ©e Zellweger|Jac...,Bibo Bergeron|Vicky Jenson|Rob Letterman,The story of what happens when one little fish...,Oscar is a small fish whose big aspirations of...,90,Animation|Action|Comedy|Family,DreamWorks SKG|Pacific Data Images (PDI)|Dream...,9/20/2004,5.8,2004
241,tt0834001,35000000,91327197,Underworld: Rise of the Lycans,Bill Nighy|Michael Sheen|Rhona Mitra|Shane Bro...,Patrick Tatopoulos,Every war has a beginning.,"A prequel to the first two Underworld films, t...",92,Fantasy|Action|Adventure|Science Fiction|Thriller,Lakeshore Entertainment|Screen Gems|Sketch Fil...,1/22/2009,6.2,2009
33,tt1051904,58000000,150170815,Goosebumps,Jack Black|Dylan Minnette|Odeya Rush|Amy Ryan|...,Rob Letterman,The stories are alive.,A teenager teams up with the daughter of young...,103,Adventure|Horror|Comedy,Columbia Pictures|Original Film|Scholastic Ent...,8/5/2015,6.2,2015
1834,tt0219699,10000000,12008642,The Gift,Cate Blanchett|Giovanni Ribisi|Keanu Reeves|Ka...,Sam Raimi,The only witness to the crime was not even there.,When a local woman disappears and the police c...,111,Horror|Drama|Thriller|Mystery,Lakeshore Entertainment|Alphaville Films,12/22/2000,6.2,2000
1707,tt0431197,70000000,86658558,The Kingdom,Jamie Foxx|Jennifer Garner|Chris Cooper|Jason ...,Peter Berg,How do you stop an enemy who isn't afraid to die?,A team of U.S. government agents is sent to in...,110,Thriller|Action|Drama,Universal Pictures|Forward Pass|Relativity Med...,8/22/2007,6.4,2007

In [6]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов
#функции
def get_str(s):
    return s.split('|')

def counter(movie_bd, x):
    data_tmp=movie_bd[x].str.cat(sep='|') # превращаем все в одну строку
    data_tmp=pd.Series(data_tmp.split('|')) # создаем список разделяя строку по '|'
    data_tmp=data_tmp.value_counts(ascending=False) # считаем кол-во элементов
    return data_tmp 

# предобработки колонок:
data['profit']=data.revenue-data.budget 
data['release_month'] = data.apply(lambda row: row.release_date.split('/')[0], axis = 1) 
data['length_title'] = data['original_title'].apply(lambda s: len(s))
data['count_word_in_overview'] = data['overview'].apply(lambda s: len(s.split(' ')))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [8]:
# в словарь вставляем номер вопроса и ваш ответ на него

# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [9]:
data[data.budget==data.budget.max()]['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [10]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [11]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [12]:
data[data.runtime==data.runtime.max()]['original_title']

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [13]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
data[data.runtime==data.runtime.min()]['original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [14]:
answers['4'] = '2. 110'
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [15]:
data.describe()
answers['5'] = '1. 107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '6. Avatar (tt0499549)'
data[data.profit==data.profit.max()]['original_title']

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [17]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
data[data.profit==data.profit.min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [18]:
answers['8'] = '1. 1478'
len(data[data.revenue>data.budget])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [19]:
answers['9'] ='4. The Dark Knight (tt0468569)'
df=data[data.release_year==2008]
df[df.revenue==df.revenue.max()]['original_title']

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [20]:
answers['10'] ='5. The Lone Ranger (tt1210819)'
df=data[(2012<=data.release_year) & (data.release_year<=2014)]
df[df.profit==df.profit.min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [21]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] ='3. Drama'
c = Counter()

genres = data['genres'].str.split('|')

for item in genres:
    for genre in item:
        c[genre] += 1
display(c.most_common(1))

[('Drama', 782)]

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [22]:
answers['12'] ='1.Drama'
c = Counter()
genres = data[data['profit']>0]['genres'].str.split('|')

for item in genres:
    for genre in item:
        c[genre] += 1
display(c.most_common(1))

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [23]:
df=data.groupby(['director'])['revenue'].agg('sum')
answers['13'] ='5. Peter Jackson'
df.sort_values(ascending=False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [24]:

data_tmp = data[data.genres.str.contains("Action")]
sum_gen=counter(data_tmp,'director')

answers['14'] ='3. Robert Rodriguez'
sum_gen[:5]

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [25]:
c = Counter()
data_2012=data[data.release_year==2012]
for index in data_2012['imdb_id']:
    profit = data_2012[data_2012['imdb_id'] == index]['profit'].iloc[0]
    actors = data_2012[data_2012['imdb_id'] == index]['cast'].iloc[0]
    for actor in actors.split('|'):
         c[actor] += profit

display(c.most_common(1))
answers['15'] ='3. Chris Hemsworth'

[('Chris Hemsworth', 1542450773)]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [26]:
answers['16'] ='3. Matt Damon'
data_profit = data[data['budget'] >  data['budget'].mean()]

c = Counter()

actors = data_profit['cast'].str.split('|')

for item in actors:
    for actor in item:
        c[actor] += 1
        
display(c.most_common(1))

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [27]:
films_nc= data[data.cast.str.contains("Nicolas Cage")]
answers['17'] ='2. Action'
genres={}
for line in films_nc.genres.apply(get_str):
    for i in line:
        
        if i in genres:
            genres[i]+=1
        else:
            genres[i]=1
else:
    display(sorted(genres.items(), key=lambda x: x[1])[-1])

('Action', 17)

# 18. Самый убыточный фильм от Paramount Pictures

In [28]:
films=data[data.production_companies.str.contains('Paramount Pictures')]
films.sort_values('profit',ascending=True).head(1)
answers['18'] ='K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [29]:
answers['19'] ='5. 2015'
display(data.groupby(['release_year']).sum().sort_values(by=['revenue'],ascending=False).head(1))

,budget,revenue,runtime,vote_average,profit,length_title,count_word_in_overview
release_year,,,,,,,
2015,6780630004,25449202382,13355,755.2,18668572378,1601,5524

# 20. Какой самый прибыльный год для студии Warner Bros?

In [30]:
studias=data[data.production_companies.str.contains('Warner Bros')]
display(studias.groupby(['release_year']).sum().sort_values(by=['profit'],ascending=False).head(1))
answers['20'] ='1. 2014'

,budget,revenue,runtime,vote_average,profit,length_title,count_word_in_overview
release_year,,,,,,,
2014,947600000,3243064519,1576,88.9,2295464519,176,672

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [31]:
display(data['release_month'].value_counts(sort = True).head(1))
answers['21'] ='4. Сентябрь'

9    227
Name: release_month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [32]:
answers['22'] ='2. 450'
movies_summer = data[data.release_month.isin(['6', '7', '8'])]
len(movies_summer)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [33]:
movies_winter = data[data.release_month.isin(['12', '1', '2'])]
director_winter=movies_winter['director'].value_counts()
answers['23'] ='5. Peter Jackson'
director_winter.head(1)

Peter Jackson    7
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [1]:
c = Counter()

for item in data['imdb_id']:
    row = data[data['imdb_id'] == item]
    production_companies = row['production_companies'].iloc[0]
    length = row['length_title'].iloc[0]
    for company in production_companies.split('|'):
        c[company] += length

for company, length in c.items():
    row = data[data['production_companies'].str.contains(company, na = False, regex=False)]
    count = row['original_title'].count()
    c[company] = length / count

answers['24'] ='5. Four By Two Productions'
display(c.most_common(1))

NameError: name 'Counter' is not defined

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [8]:
c = Counter()

for item in data['imdb_id']:
    row = data[data['imdb_id'] == item]
    production_companies = row['production_companies'].iloc[0]
    length = row['count_word_in_overview'].iloc[0]
    for company in production_companies.split('|'):
        c[company] += length

for company, length in c.items():
    row = data[data['production_companies'].str.contains(company, na = False, regex=False)]
    count = row['original_title'].count()
    c[company] = length/count

answers['25'] ='5. Midnight Picture Show'
display(c.most_common(10))

[('Midnight Picture Show', 175.0),
 ('Heineken Branded Entertainment', 161.0),
 ('Room 9 Entertainment', 161.0),
 ('98 MPH Productions', 159.0),
 ('Brookwell-McNamara Entertainment', 156.0),
 ('Lions Gate Family Entertainment', 152.0),
 ('Crest Animation Productions', 152.0),
 ('Art Pictures Studio', 147.0),
 ('Starbucks Entertainment', 144.0),
 ('Cinema Gypsy Productions', 144.0)]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [7]:
percent_1 = int(len(data) * 0.01) + 1
percent_1_best_movies = data.sort_values('vote_average', ascending = False).head(percent_1)

answers['26'] ='Inside Out,The Dark Knight,12 Years a Slave'
display(percent_1_best_movies.original_title)

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
863             The Lord of the Rings: The Two Towers
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [6]:
actorsList = []
c=Counter()

for actors in data['cast']:
    for actor in actors.split('|'):
        actorsList.append(actor) 
    variations=list(itertools.combinations(actorsList,2)) #создаем все возможные комбинации из 2х имен
    actorsList.clear()
    for item in variations:
        c[item] +=1
answers['27'] ='5. Daniel Radcliffe;Rupert Grint'

display(c.most_common(1))

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [9]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'27': '5. Daniel Radcliffe;Rupert Grint',
 '26': 'Inside Out,The Dark Knight,12 Years a Slave',
 '25': '5. Midnight Picture Show'}

In [ ]:
# и убедиться что ни чего не пропустил)
len(answers)